body{
    font-family: 'Mulish', sans-serif;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}
.head img{
    margin-top:0;
}
.book{
    width:700px;
    height:500px;
    border: 3px #005478 solid;
    border-radius: 20px;
    margin:auto;
    margin-top:100px;
}
.booktitle{
    font-size:28px;
    font-weight:700;
    margin-top: 40px;
    margin-left: 70px;
}
.bookdesc{
    margin-top:100px;
    margin-left:70px;
    width:450px;
}
.booktickets{
    display:block;
    width:150px;
    height:50px;
    margin:auto;
    margin-top:150px;
    border: 2px #005478 solid;
    border-radius: 10px;
    text-align: center;
}
.booktickets:hover{
    cursor:pointer;
    background:#005478;
    
}
.searchDiv{
    width:900px;
    height:500px;
    border: 3px #005478 solid;
    border-radius: 20px;
    margin:auto;
    margin-top:100px;
    display:grid;
}


.box{
    width:200px;
    height:50px;
    border: 3px #005478 solid;
    border-radius: 20px;
    
   
}
.boxes{
    width:500px;
    margin:auto;
    justify-content:center;
}

.narrower-row {
    width: 300px;
    display: flex;
    justify-content: space-between; 
}
.depDest,
.depDate,
.arrDest,
.arrDate {
    margin-left: 60px;
    margin-right: 60px; 
    padding-top:10px;
}

.switch {
    display: block;
    justify-content: center;
    margin:auto;
    width:50px; /* Adjust the image size */

}

#myDropdown, #arrDestdropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:15px;
    margin-left:-15px;
    border:1px black solid;
}

#myDropdown a, #arrDestdropdown a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
}

#myDropdown a:hover, #arrDestdropdown a:hover {
    background-color: #f1f1f1;
}
.datepicker{
    display: block;
    justify-content: center;
    text-align:center;
    margin: auto;
    border:1px black solid;
}