body{
    font-family: 'Mulish', sans-serif;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}
.head img{
    margin-top:0;
    width:100%;
}

.book{
    width:700px;
    height:500px;
    border: 3px #005478 solid;
    border-radius: 20px;
    margin:auto;
    margin-top:100px;
}
.booktitle{
    font-size:28px;
    font-weight:700;
    margin-top: 40px;
    margin-left: 70px;
}
.bookdesc{
    margin-top:100px;
    margin-left:70px;
    width:450px;
}
.booktickets{
    display:block;
    width:150px;
    height:50px;
    margin:auto;
    margin-top:150px;
    border: 2px #005478 solid;
    border-radius: 10px;
    text-align: center;
}
.booktickets:hover{
    cursor:pointer;
    background:#005478;
    
}
.searchDiv{
    width:900px;
    height:500px;
    border: 3px #005478 solid;
    border-radius: 20px;
    margin:auto;
    margin-top:100px;
    display:grid;
}


.box{
    width:200px;
    height:50px;
    
    
   
}
.boxes{
    width:500px;
    margin:auto;
    justify-content:center;
}

.narrower-row {
    width: 300px;
    display: flex;
    justify-content: space-between; 
}
.depDest,
.depDate,
.arrDest,
.arrDate {
    margin-left: 60px;
    margin-right: 60px; 
    
    
    
}

.switch {
    display: block;
    justify-content: center;
    margin:auto;
    width:50px; /* Adjust the image size */

}

#myDropdown, #arrDestdropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:15px;
    margin-left:-15px;
    border:1px black solid;
}

#myDropdown a, #arrDestdropdown a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
}

#myDropdown a:hover, #arrDestdropdown a:hover {
    background-color: #f1f1f1;
}
.datepicker, .arrdatepicker{
    display: block;
    position:relative;
    justify-content: center;
    text-align:center;
    margin: auto;
    border:1px black solid;
    z-index:2;
    background-color:white;
    color:#005478;
}
.dropdown-item, .arrdropdown-item{
    font-size:14px;
}
.dropdown-menu{
    color:#005478;
}

#dropdownTrigger, #arrdropdownTrigger{
    background:white;
    border: #005478 1px solid;
    color:#005478;
    margin:auto;
    justify-content: center;
    align-items:center;
}
.dropdown-item.active, .arrdropdown-item.active {
    background-color: #ffcc00; /* Your desired background color */
    color: #333; /* Your desired text color */
}
.search{
    width:160px;
    height:50px;
    color:white;
    font-size:18px;
    background-color: #005478;
    border-radius:10px;

}
#datepickerBtn, #arrdatepickerBtn{
    width:250px;
}
.depTrips{
    
    
   
    
    margin:auto;
    margin-top:50px;
    
}
.select{
    width:100px;
    height:50px;
    color:white;
    font-size:14px;
    background-color: #005478;
    border-radius:10px;
}
.time1, .time2{
    font-size:24px;
    font-weight:bold;
}
.address1, .address2{
    margin-top:20px;
}
.depTrip{
    padding:10px;
    padding-top:30px;
    padding-bottom:30px;
    
}
.arrow img{
    width:90px;
}
.depTrip{
    
    border: 3px solid #005478;
    border-radius:10px;
    width:850px;
    margin:auto;
}
.depPrice{
    font-size:28px;
    font-weight:bold;
    margin-bottom:50px;
}
